.*
!.gitattributes
!.gitignore
!.gitmodules
!.pre-commit-config.yaml
!.flake8
!.readthedocs.yaml
__*__/
__pycache__/
*.csv
*.ipynb
*.pkl
*.pyc
data/*
data/
datasets/resources/
datasets/results/
report/
resources/
results/
*logs/
*Untitled*
*build*
*egg-info*
tb_logs/
lightning_logs/
