.*
!.gitattributes
!.gitignore
!.gitmodules
!.pre-commit-config.yaml
!.flake8
__*__/
__pycache__/
*.csv
*.ipynb
*.pkl
*.pyc
data/
datasets/resources/
datasets/results/
report/
tb_logs/
lightning_logs/
lectinoracle/embeds
lectinoracle/seqs.fasta
