[tool.snakefmt]
line_length = 119
include = '\.smk$|^Snakefile'


[tool.interrogate]
ignore-init-method = true
ignore-init-module = false
ignore-magic = true
ignore-semiprivate = true
ignore-private = true
ignore-module = true
fail-under = 80
exclude = ["^test/*"]
ignore-regex = ["^Base*", "^forward*", "^shared*", "^test*"]
verbose = 0
quiet = false
whitelist-regex = []
color = true

[tool.pytest.ini_options]
minversion = "6.0"
markers = [
    "slow",
    "gpu",
    "snakemake",
]

[tool.pydocstyle]
ignore = ["D1"]

[tool.ruff]
ignore = ["F821"]
